body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

input,
button {
    margin-bottom: 10px;
}

.catalog-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catalog-item p {
    margin: 5px 0;
}

.catalog-item button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.catalog-item button:hover {
    background-color: #45a049;
}

.cart-item {
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-item button:hover {
    background-color: #d32f2f;
}